$breakp-xs: 480px;
$breakp-sm: 576px;
$breakp-md: 768px;
$breakp-lg: 992px;
$breakp-xl: 1200px;
$breakp-xxl: 1600px;

$header-height: 64px;
$footer-height-sm: 400px;
$footer-height-lg: 180px;
$sidebar-sm: 60px;
$sidebar-lg: 120px;

@mixin transitionForAll ($time) {
  -webkit-transition: all $time;
  -moz-transition: all $time;
  -ms-transition: all $time;
  -o-transition: all $time;
  transition: all $time;
}
 
html, body { margin: 0; padding: 0; width: 100vw; height: 100vh; }

html { 
  position: fixed;
  background: #FFF;
  /*overflow: hidden;*/
}

body {
  /* font-family: 'Mada', serif; */
  font-family: 'Karla', serif;
  /* font-family: Helvetica, Arial, sans-serif; */
}

*, p {
  font-weight: 200;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.notes, .synth-container {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

header { 
  width: calc(100% - 4rem);
  height: $header-height;
  text-align: center;
  display: table;
  // background: none;
  padding: 4px 12px;
  h1 {
    font-weight: 300;
    text-transform: uppercase;
    text-align: left;
  }
  p {
    text-align: left;
    font-size: 60%;
    margin: -20px 0 0 3px;
  }
  h1, p {
    margin: 0;
  }
}

// Debug colors
// header { background: #00FF00; }
// .main-container { background: rgba(0, 0, 200, 0.25); }
// .sidebar { background: rgba(0, 0, 0, 0.1); }
// .footer { background: rgba(200, 0, 0, 0.25); }

.main-container {
  width: 100%;
  height: calc(100% - #{$header-height});
  position: relative;
  // display: flex;
  // justify-content: space-between;
  // flex-direction: column;
  display: grid;
  grid-template-rows: 4fr 1fr;
  // grid-auto-rows: 60px;
  // grid-gap: 20px;
  .middle-container {
    display: flex;
    align-items: center;
    // height: calc(100% - 180px);
    // position: relative;
    // height: 100%;
  }
  .footer {
    // width: 100%;
    // height: $footer-height-sm;
    // @media screen and (min-width: 768px) {
    //   height: $footer-height-lg;
    // }
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
  }
}

.sidebar {
  width: $sidebar-sm;
  @media screen and (min-width: 768px) {
    width: $sidebar-lg;
  }
  height: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  .sidebar-container { 
    width: 100%; 
    // left: 5%;
    display: table;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    z-index: 1;
    &:before {
      width: 100%;
      // padding-left: 10px;
      position: absolute;
      left: 10px;
      top: 6px;
      font-size: 12px;
      color: #111;
      opacity: 0.3;
      text-align: left;
    }
    &.syn {
      background: #f9f9f9;
      &:before {
        content: 'Synthesizer';
      }
    }
    &.seq {
      &:before {
        content: 'Drums';
      }
    }
    .seq-button {
      background: #DDD;
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc((100% / 3 - 2px));
      border-radius: 2px;
    }
  }
}

// $synth-settings-w: 120px;
// $synth-settings-w: calc(100% / 8);
$synth-settings-w: 14.4%;

.instrument-wrapper {
  width: calc(100% - #{$sidebar-sm});
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  .synth-wrapper {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    // justify-content: stretch;
    .synth-settings {
      width: $synth-settings-w;
      height: 100%;
    }
    .synth-container {
      height: 100%;
      cursor: pointer;
      // position: relative;
    }
  }
}

.slider-wrapper {
  &.switch {
    width: 100%;
    padding: 4px 2px 0 2px;
    background: #222;
    .slider-row {
      padding-left: 4px !important;
      padding-right: 8px !important;
      input[type=range] {
        height: 24px;
        margin-top: 4px;
        background: #c9c9c9;
        border-radius: 24px;
      }
    }
  }
}

.sequencer, .sidebar-container {
  height: 50%;
}

.synth-container, .sequencer {
  width: 100%;
  background: #f5f5f5;
  // position: absolute;
  // width: 74%; height: 10%;
  // left: 20%;
  // top: 20%;
}

.sequencer {
  // width: 74%;
  // left: 20%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  .cell-row {
    // background: #AAA;
    height: calc((100% / 3 - 2px));
    .seq-button {
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      @include transitionForAll(0.3s);
      background: rgba(5, 119, 140, 0.08);
      height: 100%;
      margin: 1px;
      float: left;
      cursor: pointer;
      &.assigned {
        background: #7CDEC9;
      }
      &.playing-now {
        background: #a4ecdd;
      }
    }
  }
}

/* Mutual styles */
// header, .main-container, .sequencer, .sidebar-container {
//   position: absolute;
// }

/*header h1, .sequencer, .sidebar-container {
  display: table-cell;
  vertical-align: middle;
}*/

.signature-box {
  background: #EEE;
  position: absolute;
  width: 160px; height: 54px;
  top: 20px; right: 20px;
  padding: 0 1rem;
  p {
    float: left;
  }
}

.notes {
  display: table;
  background: red;
  color: #FFF;
  float: right;
  width: 30px; height: 20px;
  margin-top: 16px;
  cursor: pointer;
  p {
    /*display: table-cell;*/
    text-align: center;
    width: 100%;
    margin: 0;
    line-height: 1.4;
  }
}

.notes:last-child {
  margin-right: 5px;
}

.eight { margin-left: 5px; }
.sixteen {  }

.current-signature {
  background: #8ac9a1;
}

@mixin makeBackground($path) {
  background: #f0f0f0 url($path) no-repeat;
  background-size: 24px;
  background-position: center;
  // @media screen and (min-width: 768px) {
  //   background-position: center 80%;
  // }
}

.button {
  width: 100%;
  text-align: center;
  display: table;
  height: calc((100% / 3));
  cursor: pointer;
  &.icon {
    &.kick { @include makeBackground('/svg/icon-kick.svg'); }
    &.snare { @include makeBackground('/svg/icon-snare.svg'); }
    &.hihat { @include makeBackground('/svg/icon-hihat.svg'); }
  }
  p {
    vertical-align: middle;
    display: table-cell;
  }
}

.fill {
  width: 100%;
  height: 100%;
  background: red;
}

.eight-buttons { width: calc((100% / 8) - 2px); }
.sixteen-buttons { width: calc((100% / 16) - 2px); }

.control-row {
  background: #f7f7f7;
  width: 100%;
  height: 60px;
  height: auto;
  // position: absolute;
  // align-items: stretch;
  // display: flex;
  // justify-content: flex-start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 60px;
  padding: 15px;
  grid-gap: 15px;
  box-sizing: border-box;
  &.two {
    padding-top: 0;
  }
  .slider-wrapper {
    
  }
  // box-sizing: content-box !important;
  // &.one {
  //   bottom: 100px;
  //   height: 60px;
  // }
  // &.two {
  //   bottom: 0;
  // }
}

.control-section {
  background: #e6e6e6;
  float: left;
  &.delay {
    display: flex;
    grid-template-columns: 1fr 1fr;
  }
  &.soundtweak {
    width: 18%; height: 20px;
    padding: 20px; margin-right: 20px;
  }
}

// .control-section.tempo, .control-section.reverb, .control-section.delay {
//   width: 20%;
//   height: 20px;
//   padding: 20px;
// }

// .control-section.delay {
//   width: 34%; height: 20px;
//   height: 20px;
//   /* padding: 0px 20px; */
// }

.control-section.play-toggle {
  width: 60px;
  // margin: 0 1rem; 
  display: table;
  .play-button {
    width: 40px; height: 60px;
    background: none;
    border-radius: 50%;
    overflow: hidden;
    display: table-cell;
    transtition: all .5s ease;
    cursor: pointer;
    .play-icon {
      background: #F45353;
      width: 24px; height: 24px;
      position: relative;
      top: 18px;
      left: 19px;
      &.stop {
        -webkit-clip-path: polygon(15% 0, 100% 50%, 100% 50%, 15% 100%);
        clip-path: polygon(15% 0, 100% 50%, 100% 50%, 15% 100%);
        transition: all .2s ease;
      }
      &.play {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        transition: all .2s ease;
      }
    }  
  }
}

// .control-section.play-toggle, .control-section.reverb, .control-section.delay {
//   margin: 0 0 0 1rem;
// }

// .tempo-output * {
//   font-size: 100%;
//   padding: 0;
// }

// .control-section > p:nth-child(1) {
//   float: left;
// }

// .control-section > p:nth-child(1), .tempo-output, .reverb-output {
//   margin: 0 .1rem 0 0;
// }

// .tempo-section input {
//   background: red;
// }

/* the 'p' tag fps output */
// .tempo-output, .reverb-output {
//   float: right;
// }

.effect-icon {
  background: red;
  width: 22px;
  height: 22px;
  float: left;
  background-position: center;
}

.delay-icon {
  margin-left: 10px; 
  /*background: url(../img/rythm_sequencer_1.0_icon_delay.png) no-repeat;*/
  // background: url(../img/rythm_sequencer_1.0_icon_delay_bold.png) no-repeat;
  // background-size: contain;
}

.delay-feedback {
  /*background: url(../img/rythm_sequencer_1.0_icon_feedback.png) no-repeat;*/
  // background: url(../img/rythm_sequencer_1.0_icon_feedback_bold.png) no-repeat;
  // background-size: contain;
}

input {
  outline: none;
}

input[type=range] {
  width: 30%; height: 2px;
  -webkit-appearance: none;
  background-color: #444;
  float: left;
  margin: 10px 0;
}

input[class=reverb-slider] {
  width: 30%;
}

input[class=synth-slider] {
  width: 64%;
}

input[class=slider] {
  // width: 80%;
  width: 100%;
}

div.node.player > input[type=range] {

}

.delay-slider, .feedback-slider {
  /* clear: both; */
  /* margin-top: 28px !important; */
}

input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  background: #444;
  height: 2px;
}

$thumb-size: 24px;

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #444;
  opacity: 1;
  width: $thumb-size; height: $thumb-size;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  border: none;
  width: $thumb-size; height: $thumb-size;
  border-radius: 50%;
  background: #444;
  cursor: pointer;
}

input[type=range]::-moz-focus-outer {
  border: none;
  background: none;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
  outline: none;
  outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
  background: #ccc;
}

.w-marg {
  &.l12 {
    margin-left: 12px;
  }
  &.l16 {
    margin-left: 16px;
  }
  &.l20 {
    margin-left: 20px;
  }
}

/* ****************** */

/* Repsonsive styling */

.trigger-footer {
  width: 42px;
  height: 50px;
  position: absolute;
  right: 0;
  top: -50px;
  background: red;
  border-radius: 2px;
  @media screen and (max-width: $breakp-sm) {
    visibility: visible;
  }
  @media screen and (min-width: $breakp-sm) {
    visibility: hidden;
  }
  &.settings {
    // @include makeBackground('/svg/icon-settings.svg');
    background: #c4c4c4 url('/svg/icon-settings.svg') no-repeat;
    background-position: center 8px;    
    background-size: 24px;
  }
}

// $footer-offset: calc(100% - 90px);
$footer-offset: 306px;
$footer-travel: ($footer-offset / 2) + ($footer-offset / 4);

// Mobile styling under 576px
@media screen and (max-width: $breakp-sm) {
  .sidebar {
    height: 80%;
  }
  .instrument-wrapper {
    height: 80%;
  }
  .control-row {
    padding: 12px;
    grid-template-columns: 1fr 1fr;
    grid-row: auto auto;
    grid-gap: 12px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    right: 0;
    height: $footer-offset;
    z-index: 2;
    -webkit-box-shadow: 0px -4px 10px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px -4px 10px 0px rgba(0,0,0,0.28);
    box-shadow: 0px -4px 10px 0px rgba(0,0,0,0.28);
    -ms-transform: translateY($footer-travel);
    -moz-transform: translateY($footer-travel);
    -webkit-transform: translateY($footer-travel);
    transform: translateY($footer-travel);
    @include transitionForAll(0.2s);
    &.expanded {
      -ms-transform: translateY(0-($footer-offset / 4));
      -moz-transform: translateY(0-($footer-offset / 4));
      -webkit-transform: translateY(0-($footer-offset / 4));
      transform: translateY(0-($footer-offset / 4));
    }
    .control-row {
      background: #dadada;
    }
  }
}

/* Small devices and mobile */
@media only screen and (min-width : 320px) {

  header h1 { font-size: 90%; }

}

/* Medium devices and tablets */
@media only screen and (min-width : 768px) {

  header h1 { font-size: 200%; }

}

/* Medium devices and tablets */
@media only screen and (min-width : 1300px) {

}
