    
html, body { margin: 0; padding: 0; width: 100vw; height: 100vh; }

html { 
  position: fixed;
  background: #FFF;
  /*overflow: hidden;*/
}

body {
  /* font-family: 'Mada', serif; */
  font-family: 'Karla', serif;
  /* font-family: Helvetica, Arial, sans-serif; */
}

*, p {
  font-weight: 200;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.notes, .synth-container {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

header { 
  width: calc(100% - 4rem); height: 100px;
  text-align: center;
  display: table;
  background: none;
  padding: 0 2rem;
  h1 {
    font-weight: 300;
    text-transform: uppercase;
    text-align: left;
  }
  p {
    text-align: left;
    font-size: 60%;
    margin: -20px 0 0 3px;
  }
}

.outer-container {
  width: 100%; height: 100vh;
} 

.synth-container, .main-content-container, .button-container {
  height: 30%;
  /*top: 12%;*/
  /*top: 30%;*/
  bottom: 30%;
  padding: 1px;
}

.synth-container {
  background: #f7f7f7;
  position: absolute;
  width: 74%; height: 10%;
  left: 20%;
  top: 20%;
}

.main-content-container {
  width: 74%;
  left: 20%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  .cell-row {
    // background: #AAA;
    height: calc((100% / 3 - 2px));
    .seq-button {
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      background: rgba(5, 119, 140, 0.08);
      height: 100%;
      margin: 1px;
      float: left;
      cursor: pointer;
      &.assigned {
        background: #7CDEC9;
      }
      &.playing-now {
        background: #a4ecdd;
      }
    }
  }
}

.button-container { 
  width: 10%; 
  left: 5%;
  display: table;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .seq-button {
    background: #DDD;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc((100% / 3 - 2px));
    border-radius: 2px;
  }
}

/* Mutual styles */
header, .outer-container, .main-content-container, .button-container {
  position: absolute;
}

/*header h1, .main-content-container, .button-container {
  display: table-cell;
  vertical-align: middle;
}*/

.signature-box {
  background: #EEE;
  position: absolute;
  width: 160px; height: 54px;
  top: 20px; right: 20px;
  padding: 0 1rem;
  p {
    float: left;
  }
}

.notes {
  display: table;
  background: red;
  color: #FFF;
  float: right;
  width: 30px; height: 20px;
  margin-top: 16px;
  cursor: pointer;
  p {
    /*display: table-cell;*/
    text-align: center;
    width: 100%;
    margin: 0;
    line-height: 1.4;
  }
}

.notes:last-child {
  margin-right: 5px;
}

.eight { margin-left: 5px; }
.sixteen {  }

.current-signature {
  background: #8ac9a1;
}

.button {
  width: 100%;
  text-align: center;
  display: table;
  height: calc((100% / 3));
  p {
    vertical-align: middle;
    display: table-cell;
  }
}

.fill {
  width: 100%;
  height: 100%;
  background: red;
}

.eight-buttons { width: calc((100% / 8) - 2px); }
.sixteen-buttons { width: calc((100% / 16) - 2px); }

.controlpanel {
  background: #f7f7f7;
  width: 100%; height: 60px;
  padding: 20px;
  position: absolute;
  &.one {
    bottom: 100px;
    height: 60px;
  }
  &.two {
    bottom: 0;
  }
}

.control-section {
  background: #e6e6e6;
  float: left;
  &.soundtweak {
    width: 18%; height: 20px;
    padding: 20px; margin-right: 20px;
  }
}

body > div.outer-container > div.controlpanel.one > div:nth-child(4) {
  float: right; margin-right: 40px;
  width: 20.6%;
}

.control-section.tempo, .control-section.reverb, .control-section.delay {
  width: 20%;
  height: 20px;
  padding: 20px;
}

.control-section.delay {
  width: 34%; height: 20px;
  height: 20px;
  /* padding: 0px 20px; */
}

.control-section.play-toggle {
  width: 60px;
  margin: 0 1rem; 
  display: table;
}

.control-section.play-toggle, .control-section.reverb, .control-section.delay {
  margin: 0 0 0 1rem;
}

.tempo-output * {
  font-size: 100%;
  padding: 0;
}

.control-section > p:nth-child(1) {
  float: left;
}

.control-section > p:nth-child(1), .tempo-output, .reverb-output {
  margin: 0 .1rem 0 0;
}

.tempo-section input {
  background: red;
}

/* the 'p' tag fps output */
.tempo-output, .reverb-output {
  float: right;
}

.play-button {
  width: 40px; height: 60px;
  background: none;
  border-radius: 50%;
  overflow: hidden;
  display: table-cell;
  transtition: all .5s ease;
  cursor: pointer;
}

.play-icon {
  background: #F45353;
  width: 24px; height: 24px;
  position: relative;
  top: 18px;
  left: 19px;
}  

.stop {
  -webkit-clip-path: polygon(15% 0, 100% 50%, 100% 50%, 15% 100%);
  clip-path: polygon(15% 0, 100% 50%, 100% 50%, 15% 100%);
  transition: all .2s ease;
}  

.play {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  transition: all .2s ease;
}

.effect-icon {
  background: red;
  width: 22px;
  height: 22px;
  float: left;
  background-position: center;
}

.delay-icon {
  margin-left: 10px; 
  /*background: url(../img/rythm_sequencer_1.0_icon_delay.png) no-repeat;*/
  // background: url(../img/rythm_sequencer_1.0_icon_delay_bold.png) no-repeat;
  // background-size: contain;
}

.delay-feedback {
  /*background: url(../img/rythm_sequencer_1.0_icon_feedback.png) no-repeat;*/
  // background: url(../img/rythm_sequencer_1.0_icon_feedback_bold.png) no-repeat;
  // background-size: contain;
}

input {
  outline: none;
}

input[type=range] {
  width: 30%; height: 2px;
  -webkit-appearance: none;
  background-color: #444;
  float: left;
  margin: 10px;
}

input[class=reverb-slider] {
  width: 30%;
}

input[class=synth-slider] {
  width: 64%;
}

input[class=slider] {
  width: 80%;
}

div.node.player > input[type=range] {

}

.delay-slider, .feedback-slider {
  /* clear: both; */
  /* margin-top: 28px !important; */
}

input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  background: #444;
  height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #444;
  opacity: 1;
  width: 30px; height: 30px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  border: none;
  width: 30px; height: 30px;
  border-radius: 50%;
  background: #444;
  cursor: pointer;
}

input[type=range]::-moz-focus-outer {
  border: none;
  background: none;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
  outline: none;
  outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
  background: #ccc;
}

/* ****************** */

/* Repsonsive styling */

/* Small devices and mobile */
@media only screen and (min-width : 320px) {

  header h1 { font-size: 90%; }

}

/* Medium devices and tablets */
@media only screen and (min-width : 768px) {

  header h1 { font-size: 200%; }

}

/* Medium devices and tablets */
@media only screen and (min-width : 1300px) {

}
